html{
    background: whitesmoke;
}

.box {
    border: black solid 1px;
    border-radius: 25%;
    width: 300px;
    height: 240px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hidden {
    display:none;
  }

.file{
  display: inline-block;
  width: 100px;
/*  height: 100px; */
  position: inherit;
  margin-right: 20px;
  border: black solid 1px
  border-height 250px;
  overflow: hidden;
}

.file:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.folder:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.folder{
  display: inline-block;
  position:inherit;
  width: 100px;
/*  height: 100px; */
  margin-right: 20px;
  border: black solid 1px
  border-height 250px;
  overflow: hidden;
}


img{
  height: 100px;
  width: 100px;
}

.file img, .folder img {
  height: 100px;
  width: 100px;
}
#dragdrop{
  height: 100px;
/*  border:5px dashed yellow;*/
}

.filename {
  text-align: center;
}

#nav {
  text-align: right;
  background-color: rgba(0, 0, 0, 0.2);
}

#accountdropdown: {
 width: 250px;
}
