html{
  width:100%;
  height:100%;
}
body{
  background-image: url("./../images/backgroundimage.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.editfile, .deletefile {
  position: absolute;
  top: 0%;
  left: 60%;
}
.upload{
  width: 0.1px;
  height: 0.1px;

}
.deletefile {
  left: 80%;
}

#progressBar {
  width: 100%;
  height: 20px;
  
  position: fixed;
  top: 100%;
  left: 0px;
  transform: translate(0%, -100%);
}

.box {
  border: black solid 1px;
  border-radius: 25%;
  width: 300px;
  height: 240px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display:none;
}

.file, .folder {
  display: inline-block;
  width: 100px;
  height: 170px;
/*  height: 100px; */
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.file:hover,.folder:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#logo{
  float:left;
  height: 100%;
  width: auto;
}

.file img, .folder img {
  height: 100px;
  width: 100px;
}

#dragdrop{
  height: 100px;
/*  border:5px dashed yellow;*/
}

#folderbody {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 79%;
}

#files {
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5);
  width:95%;
  height: 98%;
  margin-right:auto;
  margin-left:auto;
  border-radius: 15px;
}
.filename {
  text-align: center;
}

#nav {
  text-align: left;
  text-align: right;
  color:white;
  
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 19%;
  z-index: 10;
  font-family: arial, serif;
  pointer-events: none;
}

.user {
  pointer-events: initial;
  position: absolute;
  right:0%;
  top: 15%;
  margin:10px;
}

.user a {
  color: white;
  font-size: 20px;
}

#createFile{
  width:100%;
  height:100%;
  position: absolute;
  left: 0;
  background-color:rgba(0,0,0,0.8);
  display:none;
  z-index: 1;
}

#createFile div{
  text-align: center;
  width: 80%;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#createFile form {
  border-color: #666666;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  margin-top: 50px;
  margin-bottom: 50px;
  
  transition: border 0.3s ease;
}

#createFile form.active {
  border-color: white;
}

#createFile input {
  font-size: 175%;
  outline: none;
  font-weight: bold;
  border: none;
  color: white;
  background-color: rgba(0,0,0,0);
}

#createFile input[type="text"]{
  width: 79%;
}

#createFile input[type="submit"]{
  width: 19%;
  display: inline-block;
  text-align: right;
}

#createFile #rename-advanced-btn {
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
}

#createFile #rename-advanced-btn a {
  color: white;
  text-decoration: none;
  font-size: 130%;
  font-weight: bold;
  font-family: arial, serif;
}

#fileoptionbar {
  position: absolute;
  width: 90%;
  top: 0x;
  left: 7%;
  overflow: hidden;
  transform: translate(0%, -100%);
  font-family: arial, serif;
}

#fileoptionbar form {
  display: inline;
}

.button,.label {
  float:right;
  margin-right: 3%;
  color:white;
  text-decoration: none;
  font-size:1.2rem;
  cursor: pointer;
}

.detailbuttons{
  display: inline-block;
  margin-top: 2px;
  background: #6b00b3;
  color: whitesmoke;
  border: black solid 1px;
}

#accountdropdown {
  background-color: rgba(0,0,0,0.65);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
}

#accountdropdown a {
  display: block;
  z-index: 2;
  
  padding: 0.25em 0.5em 0.25em 2em;
  text-decoration: none;
}

#accountdropdown a:hover {
  background-color: rgba(0,0,0,0.5);
}
