.hidden {
  display:none;
}

html {
  text-align: center;
  background-image:url("../images/backgroundimage.jpg");

  background-size: cover;
  background-attachment: fixed;
}

#logo {
  width: 200px;
  height: 200px;
}

.main {
  border: black solid 1px;
  border-radius: 5%;
  width: 300px;
  height: 400px;
  background: rgba(0, 0, 0, 0.3);
  color: white;


  /* Center box */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.invoerveld {
  opacity: 1.0;
  color: rgba(25, 247, 254d, 1.0);

}
#registerlink {
  color: white;
}

#loginlink {
  color: white;
}
