html {
  text-align: center;
}

/*center box*/
.main {
  margin-left: 38%;
  margin-top: 10%;
}

#logo {f
  width: 75px;
  height: 75px;
}

.main {
border: black solid 1px;
border-radius: 25%;
width: 300px;
height: 400px;
}
